.section-blog {
    background: #1b2024 url("img/lines-blog.svg") no-repeat center center;
    padding: 80px 0 74px 0;
}

.section-blog .section-title {
    color: #ffffff;
    margin-bottom: 74px;
}

.blog-list {
    display: flex;
    justify-content: space-between;
}

.blog {
    flex-basis: 282px;
    margin-bottom: 80px;
}

.blog__image {
    overflow: hidden;
}

.blog__image img {
    border-radius: 10px;
    width: 100%;
}

.blog__title {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 24px;
    margin-bottom: 16px;
    transition: ease 250ms;
    display: block;
}

.blog__title:hover {
    color: #699ff1;
}

.blog__more {
    font-size: 14px;
    line-height: 17px;
    color: #699ff1;
    text-decoration: none;
}

.blog__more:hover {
    text-decoration: underline;
}