.section-calculator {
    background: #1b2024 url("img/lines.svg") no-repeat center center;
    padding: 58px 0 87px 0;
    text-align: center;
    color: #ffffff;
}

.calculator__total {
    background: #699ff1;
    border-radius: 4px;
    align-items: center;
    padding: 16px 36px;
    width: 267px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 80px auto 56px auto;
    position: relative;
}

.calculator__total:after {
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 100%;
    background: #699ff1;
    opacity: 0.6;
    filter: blur(70px);
    border-radius: 12px;
    content: "";
}

.period {
    position: relative;
    display: flex;
}

.period:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #3290ff 0%, #43f4ff 100%);
    border-radius: 2px;
}

.period__day {
    flex-basis: 10%;
    flex-grow: 6;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    color: #738796;
    padding-bottom: 35px;
}

.period__day:first-child {
    text-align: left;
    flex-grow: 1;
}

.period__day:last-child {
    text-align: right;
    flex-grow: 1;
}

.period__day_active {
    color: #ffffff;
    position: relative;
}

.period__day_active:after {
    position: absolute;
    left: 50%;
    bottom: -5px;
    content: "";
    width: 14px;
    height: 14px;
    background: #699ff1;
    border: 4px solid #ecf3fd;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(105, 159, 241, 0.6);
    border-radius: 11px;
    z-index: 3;
    transform: translateX(-4px);
}

.period__day_first:after {
    left: 0;
}

.period__day_last:after {
    left: 100%;
}

.buy_container {
    margin-top: 85px;
}