.section-faq {
    padding: 120px 0 0 0;
    margin-bottom: 120px;
}

.section-faq .section-title {
    margin-bottom: 90px;
}

.faq-container {
    display: flex;
    justify-content: space-between;
}

.faq-list {
    max-width: 450px;
}

.faq-item {
    margin-bottom: 40px;
}

.faq-question {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    background: url("icons/plus-circle.svg") no-repeat left top;
    min-height: 24px;
    padding-left: 44px;
    cursor: pointer;
}

.faq-item_active .faq-question {
    background: url("icons/minus-circle.svg") no-repeat left top;
}

.faq-answer {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #828282;
    border-left: 1px solid #699ff1;
    margin-left: 44px;
    margin-top: 30px;
    padding-left: 18px;
    display: none;
    overflow: hidden;
}

.faq-item_active .faq-answer {
    display: block;
}

.faq-container__right {
    position: relative;
}

.support {
    position: absolute;
    top: -35px;
    left: -106px;
    background: url("img/suport.svg") no-repeat;
    width: 312px;
    height: 191px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #b87700;
}

.support__time {
    margin-top: 35px;
    margin-bottom: 9px;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.support__icon {
    margin-right: 14px;
}