.function-description-wrap {
    max-width: 640px;
}

.footer {
    background: #181a1c;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;
}

.menu-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-footer__link {
    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
}

.menu-footer__link:hover {
    color: #ffb757;
}

.messengers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messengers__text {
    font-weight: 300;
    font-size: 10px;
    line-height: 120%;
    text-align: right;
    letter-spacing: 0.05em;
    color: #ffffff;
    max-width: 105px;
    padding-right: 6px;
}

.messengers__link {
    margin-left: 12px;
}

.messengers__image {
    display: block;
}