header {
    position: absolute;
    height: 70px;
    background: rgba(8, 15, 22, 0.7);
    top: 0;
    left: 0;
    right: 0;
    color: #ffffff;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

.center {
    text-align: center;
}

.container {
    max-width: 1236px;
    margin: auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    display: flex;
    margin-right: 56px;
}

.color-info {
    color: #699ff1;
}

.menu {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 112px;
}

.menu__link {
    height: 100%;
    padding: 0 30px;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 120%;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
}

.menu__link:after {
    content: "";
    position: absolute;
    width: 0;
    left: 50%;
    height: 1px;
    bottom: 0;
    background: #ffb757;
}

.menu__link:hover:after {
    width: 100%;
    left: 0;
    transition: ease 500ms;
}

.menu__link:hover {
    color: #ffb757;
}

.menu__link_active {
    color: #ffb757;
}

.auth {
    display: flex;
    font-size: 13px;
    font-weight: 300;
    align-content: flex-end;
}

.auth__link {
    padding: 0 6px;
}

.auth__link:hover {
    color: #ffb757;
    text-decoration: underline;
}

.auth__link_user {
    padding: 0 6px 0 22px;
    background: url("icons/user.svg") no-repeat 0 50%;
}

.text-us {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text-us__message {
    flex-basis: 110px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 300;
    text-align: right;
    margin-right: 6px;
    letter-spacing: 0.05em;
}

.text-us__messengers {
    display: flex;
    align-items: center;
    height: 26px;
}

.text-us__messengers a {
    margin-left: 12px;
}

.text-us__messengers img {
    display: block;
}