.hero {
    background: url("img/hero-bg.webp") no-repeat center;
    height: 630px;
    margin-bottom: 140px;
}

.hero h1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
}

.hero .container {
    padding-top: 151px;
    color: #ffffff;
}

.hero_description {
    font-weight: 500;
    font-size: 52px;
    line-height: 62px;
    max-width: 400px;
    margin: 11px 0 26px 0;
}

.hero__buy {
    display: flex;
    justify-content: space-between;
    max-width: 364px;
}

.hero_text {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 64px;
}