.section-interface {
    width: 757px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-interface:after {
    content: "";
    position: absolute;
    background: url("img/interface-arrow.svg") no-repeat;
    width: 194px;
    height: 257px;
    right: -218px;
    top: -90px;
}

.interface-variations {
    position: relative;
    min-height: 600px;
    border-radius: 20px;
    overflow: hidden;
    cursor: ew-resize;
}

.interface-variations img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    user-select: none;
}

#darkInterface {
    left: 0;
    clip: rect(auto, 380px, auto, auto);
}

#lightInterface {
    right: 0;
    clip: rect(auto, auto, auto, 380px);
}

.interface-variations__splitter {
    position: absolute;
    left: 50%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0 0 6px #699ff1;
    z-index: 3;
    width: 1px;
}

.interface-variations__splitter:after {
    content: "";
    background: url("icons/splitter.svg") no-repeat center center;
    width: 47px;
    height: 47px;
    cursor: ew-resize;
    position: absolute;
    left: -24px;
    top: 50%;
}

.interface__description {
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #828282;
    margin-top: 58px;
}