.section-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 144px;
}

.section-main .section-title {
    text-align: left;
}

.section-main__img-container {
    position: relative;
}

.section-main__img-container .original {
    position: relative;
    z-index: 2;
    border-radius: 16px;
    transition: 250ms;
}

.section-main__img-container .original:hover {
    transform: scale(1.05);
}

.section-main__img-container .shadow {
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 1;
    opacity: 0.4;
    filter: blur(30px);
    border-radius: 16px;
}

.section-main__functions-container {
    flex-basis: 600px;
}

.functions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.functions__item {
    display: flex;
    flex-basis: 282px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 30px;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.functions__item:hover {
    background: #ecf3fd;
}

.functions__icon {
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 26px 20px 20px;
}

.functions__info {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4f4f4f;
}

.functions__item:hover .functions__info {
    color: #0e4495;
}

.functions__info small {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #828282;
    margin-top: 8px;
    display: block;
}

.functions__item:hover .functions__info small {
    color: #699ff1;
    text-decoration: underline;
}

.functions__modal-body {
    display: none;
}