.pay-methods {
    padding: 90px 0 120px 0;
    display: flex;
    flex-direction: column;
}

.pay-methods .section-title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #333333;
    max-width: 490px;
    margin-bottom: 85px;
}

.pay-methods__list {
    display: flex;
    align-self: center;
}

.pay-methods__item {
    margin: 0 22px;
}

.pay-methods__item img {
    display: block;
}