.reviews-section {
    padding: 100px 0 113px 0;
    display: flex;
    flex-direction: column;
}

.reviews-section .section-description {
    padding: 26px 0 56px 0;
}

.reviews-list {
    margin: 0 auto;
}