.section-special {
    padding: 50px 0;
    background: url("img/match_making.webp") no-repeat center center;
}

.section-special .section-title {
    max-width: 390px;
    margin: 0 0 35px 0;
    color: #ffffff;
    text-align: left;
}

.section-special .section-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #ecf3fd;
    text-align: left;
    margin: 0;
}