.superiority-section {
    margin-bottom: 80px;
}

.superiority-list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 109px 0 113px 0;
}

.superiority {
    flex-basis: 282px;
    background: #1b2024 url("img/features-bg.webp") no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 45px;
    color: #ffffff;
    transition: 200ms;
    transform: translateY(-50%) scale(0)
}

.superiority:nth-child(2) {
    transition-delay: 200ms;
}

.superiority:nth-child(3) {
    transition-delay: 400ms;
}

.superiority:nth-child(4) {
    transition-delay: 600ms;
}

.superiority-list.in-view .superiority {
    transform: none;
}

.superiority__icon {
    width: 154px;
    height: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.superiority__icon img {
    transition: 500ms;
}

.superiority:hover .superiority__icon img {
    transform: scale(1.1);
}

.superiority__name {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.superiority__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ecf3fd;
    padding: 0 28px;
}