.section-team {
    padding: 80px 0 90px 0;
    background: #f0f1f7;
}

.section-team .section-description {
    margin: 26px auto 64px auto;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 282px;
    background: #ffffff;
    border-radius: 10px;
    padding: 35px 0 50px 0;
}

.team-card__photo {
    width: 154px;
    margin-bottom: 40px;
}

.team-card__photo img {
    display: block;
    width: 100%;
    border-radius: 50%;
    transition: 500ms;
}

.team-card:hover .team-card__photo img {
    transform: scale(1.3);
    box-shadow: 0 -10px 20px #78a8f0;
}

.team-card__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4f4f4f;
    margin-bottom: 20px;
}

.team-card__position {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    padding: 0 24px;
}