.video-section {
    padding: 0 0 100px 0;
}

.video-section .section-title {
    margin-bottom: 85px;
}

.video-list {
    display: flex;
    justify-content: space-between;
}

.video-list_video {
    flex-basis: 388px;
    min-height: 218px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.video-list_video::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    background: url('icons/play-btn.svg') no-repeat center center;
    opacity: 0.8;
    background-size: cover;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.video-list_preview {
    display: block;
    cursor: pointer;
    transition: 500ms;
}

.video-list_preview:hover {
    transform: scale(1.2);
}