.button {
    font-family: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    background: #ffb757;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    min-width: 140px;
    min-height: 57px;
    color: #333333;
    cursor: pointer;
    text-decoration: none;
    transition: ease 250ms;
}

.button:hover {
    box-shadow: 0 10px 40px rgba(255, 183, 87, 0.3);
}

.button:active {
    background: #ffa124;
}

.button_dark {
    background: #252d35;
    color: #699ff1;
}

.button_dark:hover {
    text-shadow: 0 0 22px #699ff1;
    box-shadow: none;
}

.button_dark:active {
    background: #1c2228;
}

.button__play {
    margin: 5px 7px 0 0;
}

.button_dark:hover .button__play {
    filter: drop-shadow(0 0 22px #699ff1);
}