@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 150%;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #333333;
    margin: 0 auto;
    text-align: center;
}

.section-title_dark {
    color: #ffffff;
}

.section-description {
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #828282;
    max-width: 600px;
}