#overLayer {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(27, 32, 36, 0.7);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    display: none;
}

#overLayer .content {
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    padding: 25px;
}

#overLayer .content__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #333333;
    padding: 0 30px 30px 0;
}

#overLayer .content__close {
    position: absolute;
    right: 25px;
    top: 27px;
}

#overLayer .content__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
}