@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 150%;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #333333;
  margin: 0 auto;
  text-align: center;
}

.section-title_dark {
  color: #ffffff;
}

.section-description {
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #828282;
  max-width: 600px;
}

.button {
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  background: #ffb757;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.03em;
  min-width: 140px;
  min-height: 57px;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  transition: ease 250ms;
}

.button:hover {
  box-shadow: 0 10px 40px rgba(255, 183, 87, 0.3);
}

.button:active {
  background: #ffa124;
}

.button_dark {
  background: #252d35;
  color: #699ff1;
}

.button_dark:hover {
  text-shadow: 0 0 22px #699ff1;
  box-shadow: none;
}

.button_dark:active {
  background: #1c2228;
}

.button__play {
  margin: 5px 7px 0 0;
}

.button_dark:hover .button__play {
  filter: drop-shadow(0 0 22px #699ff1);
}

#overLayer {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(27, 32, 36, 0.7);
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  display: none;
}

#overLayer .content {
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  padding: 25px;
}

#overLayer .content__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  padding: 0 30px 30px 0;
}

#overLayer .content__close {
  position: absolute;
  right: 25px;
  top: 27px;
}

#overLayer .content__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
}

header {
  position: absolute;
  height: 70px;
  background: rgba(8, 15, 22, 0.7);
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.container {
  max-width: 1236px;
  margin: auto;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  display: flex;
  margin-right: 56px;
}

.color-info {
  color: #699ff1;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 112px;
}

.menu__link {
  height: 100%;
  padding: 0 30px;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 120%;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.menu__link:after {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  height: 1px;
  bottom: 0;
  background: #ffb757;
}

.menu__link:hover:after {
  width: 100%;
  left: 0;
  transition: ease 500ms;
}

.menu__link:hover {
  color: #ffb757;
}

.menu__link_active {
  color: #ffb757;
}

.auth {
  display: flex;
  font-size: 13px;
  font-weight: 300;
  align-content: flex-end;
}

.auth__link {
  padding: 0 6px;
}

.auth__link:hover {
  color: #ffb757;
  text-decoration: underline;
}

.auth__link_user {
  padding: 0 6px 0 22px;
  background: url("icons/user.svg") no-repeat 0 50%;
}

.text-us {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text-us__message {
  flex-basis: 110px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
  text-align: right;
  margin-right: 6px;
  letter-spacing: 0.05em;
}

.text-us__messengers {
  display: flex;
  align-items: center;
  height: 26px;
}

.text-us__messengers a {
  margin-left: 12px;
}

.text-us__messengers img {
  display: block;
}

.hero {
  background: url("img/hero-bg.webp") no-repeat center;
  height: 630px;
  margin-bottom: 140px;
}

.hero h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

.hero .container {
  padding-top: 151px;
  color: #ffffff;
}

.hero_description {
  font-weight: 500;
  font-size: 52px;
  line-height: 62px;
  max-width: 400px;
  margin: 11px 0 26px 0;
}

.hero__buy {
  display: flex;
  justify-content: space-between;
  max-width: 364px;
}

.hero_text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 64px;
}

.section-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.section-main .section-title {
  text-align: left;
}

.section-main__img-container {
  position: relative;
}

.section-main__img-container .original {
  position: relative;
  z-index: 2;
  border-radius: 16px;
  transition: 250ms;
}

.section-main__img-container .original:hover {
  transform: scale(1.05);
}

.section-main__img-container .shadow {
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 1;
  opacity: 0.4;
  filter: blur(30px);
  border-radius: 16px;
}

.section-main__functions-container {
  flex-basis: 600px;
}

.functions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.functions__item {
  display: flex;
  flex-basis: 282px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.functions__item:hover {
  background: #ecf3fd;
}

.functions__icon {
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 26px 20px 20px;
}

.functions__info {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4f4f4f;
}

.functions__item:hover .functions__info {
  color: #0e4495;
}

.functions__info small {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #828282;
  margin-top: 8px;
  display: block;
}

.functions__item:hover .functions__info small {
  color: #699ff1;
  text-decoration: underline;
}

.functions__modal-body {
  display: none;
}

.superiority-section {
  margin-bottom: 80px;
}

.superiority-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 109px 0 113px 0;
}

.superiority {
  flex-basis: 282px;
  background: #1b2024 url("img/features-bg.webp") no-repeat;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 45px;
  color: #ffffff;
  transition: 200ms;
  transform: translateY(-50%) scale(0);
}

.superiority:nth-child(2) {
  transition-delay: 200ms;
}

.superiority:nth-child(3) {
  transition-delay: 400ms;
}

.superiority:nth-child(4) {
  transition-delay: 600ms;
}

.superiority-list.in-view .superiority {
  transform: none;
}

.superiority__icon {
  width: 154px;
  height: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.superiority__icon img {
  transition: 500ms;
}

.superiority:hover .superiority__icon img {
  transform: scale(1.1);
}

.superiority__name {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.superiority__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ecf3fd;
  padding: 0 28px;
}

.section-interface {
  width: 757px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 80px;
}

.section-interface:after {
  content: "";
  position: absolute;
  background: url("img/interface-arrow.svg") no-repeat;
  width: 194px;
  height: 257px;
  right: -218px;
  top: -90px;
}

.interface-variations {
  position: relative;
  min-height: 600px;
  border-radius: 20px;
  overflow: hidden;
  cursor: ew-resize;
}

.interface-variations img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#darkInterface {
  left: 0;
  clip: rect(auto, 380px, auto, auto);
}

#lightInterface {
  right: 0;
  clip: rect(auto, auto, auto, 380px);
}

.interface-variations__splitter {
  position: absolute;
  left: 50%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0 0 6px #699ff1;
  z-index: 3;
  width: 1px;
}

.interface-variations__splitter:after {
  content: "";
  background: url("icons/splitter.svg") no-repeat center center;
  width: 47px;
  height: 47px;
  cursor: ew-resize;
  position: absolute;
  left: -24px;
  top: 50%;
}

.interface__description {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #828282;
  margin-top: 58px;
}

.section-calculator {
  background: #1b2024 url("img/lines.svg") no-repeat center center;
  padding: 58px 0 87px 0;
  text-align: center;
  color: #ffffff;
}

.calculator__total {
  background: #699ff1;
  border-radius: 4px;
  align-items: center;
  padding: 16px 36px;
  width: 267px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 80px auto 56px auto;
  position: relative;
}

.calculator__total:after {
  position: absolute;
  left: 0;
  top: 9px;
  width: 100%;
  height: 100%;
  background: #699ff1;
  opacity: 0.6;
  filter: blur(70px);
  border-radius: 12px;
  content: "";
}

.period {
  position: relative;
  display: flex;
}

.period:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #3290ff 0%, #43f4ff 100%);
  border-radius: 2px;
}

.period__day {
  flex-basis: 10%;
  flex-grow: 6;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  color: #738796;
  padding-bottom: 35px;
}

.period__day:first-child {
  text-align: left;
  flex-grow: 1;
}

.period__day:last-child {
  text-align: right;
  flex-grow: 1;
}

.period__day_active {
  color: #ffffff;
  position: relative;
}

.period__day_active:after {
  position: absolute;
  left: 50%;
  bottom: -5px;
  content: "";
  width: 14px;
  height: 14px;
  background: #699ff1;
  border: 4px solid #ecf3fd;
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(105, 159, 241, 0.6);
  border-radius: 11px;
  z-index: 3;
  transform: translateX(-4px);
}

.period__day_first:after {
  left: 0;
}

.period__day_last:after {
  left: 100%;
}

.buy_container {
  margin-top: 85px;
}

.pay-methods {
  padding: 90px 0 120px 0;
  display: flex;
  flex-direction: column;
}

.pay-methods .section-title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #333333;
  max-width: 490px;
  margin-bottom: 85px;
}

.pay-methods__list {
  display: flex;
  align-self: center;
}

.pay-methods__item {
  margin: 0 22px;
}

.pay-methods__item img {
  display: block;
}

.section-team {
  padding: 80px 0 90px 0;
  background: #f0f1f7;
}

.section-team .section-description {
  margin: 26px auto 64px auto;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 282px;
  background: #ffffff;
  border-radius: 10px;
  padding: 35px 0 50px 0;
}

.team-card__photo {
  width: 154px;
  margin-bottom: 40px;
}

.team-card__photo img {
  display: block;
  width: 100%;
  border-radius: 50%;
  transition: 500ms;
}

.team-card:hover .team-card__photo img {
  transform: scale(1.3);
  box-shadow: 0 -10px 20px #78a8f0;
}

.team-card__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4f4f4f;
  margin-bottom: 20px;
}

.team-card__position {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  padding: 0 24px;
}

.reviews-section {
  padding: 100px 0 113px 0;
  display: flex;
  flex-direction: column;
}

.reviews-section .section-description {
  padding: 26px 0 56px 0;
}

.reviews-list {
  margin: 0 auto;
}

.video-section {
  padding: 0 0 100px 0;
}

.video-section .section-title {
  margin-bottom: 85px;
}

.video-list {
  display: flex;
  justify-content: space-between;
}

.video-list_video {
  flex-basis: 388px;
  min-height: 218px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.video-list_video::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  background: url("icons/play-btn.svg") no-repeat center center;
  opacity: 0.8;
  background-size: cover;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.video-list_preview {
  display: block;
  cursor: pointer;
  transition: 500ms;
}

.video-list_preview:hover {
  transform: scale(1.2);
}

.section-special {
  padding: 50px 0;
  background: url("img/match_making.webp") no-repeat center center;
}

.section-special .section-title {
  max-width: 390px;
  margin: 0 0 35px 0;
  color: #ffffff;
  text-align: left;
}

.section-special .section-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #ecf3fd;
  text-align: left;
  margin: 0;
}

.section-faq {
  padding: 120px 0 0 0;
  margin-bottom: 120px;
}

.section-faq .section-title {
  margin-bottom: 90px;
}

.faq-container {
  display: flex;
  justify-content: space-between;
}

.faq-list {
  max-width: 450px;
}

.faq-item {
  margin-bottom: 40px;
}

.faq-question {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  background: url("icons/plus-circle.svg") no-repeat left top;
  min-height: 24px;
  padding-left: 44px;
  cursor: pointer;
}

.faq-item_active .faq-question {
  background: url("icons/minus-circle.svg") no-repeat left top;
}

.faq-answer {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #828282;
  border-left: 1px solid #699ff1;
  margin-left: 44px;
  margin-top: 30px;
  padding-left: 18px;
  display: none;
  overflow: hidden;
}

.faq-item_active .faq-answer {
  display: block;
}

.faq-container__right {
  position: relative;
}

.support {
  position: absolute;
  top: -35px;
  left: -106px;
  background: url("img/suport.svg") no-repeat;
  width: 312px;
  height: 191px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #b87700;
}

.support__time {
  margin-top: 35px;
  margin-bottom: 9px;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.support__icon {
  margin-right: 14px;
}

.section-blog {
  background: #1b2024 url("img/lines-blog.svg") no-repeat center center;
  padding: 80px 0 74px 0;
}

.section-blog .section-title {
  color: #ffffff;
  margin-bottom: 74px;
}

.blog-list {
  display: flex;
  justify-content: space-between;
}

.blog {
  flex-basis: 282px;
  margin-bottom: 80px;
}

.blog__image {
  overflow: hidden;
}

.blog__image img {
  border-radius: 10px;
  width: 100%;
}

.blog__title {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 16px;
  transition: ease 250ms;
  display: block;
}

.blog__title:hover {
  color: #699ff1;
}

.blog__more {
  font-size: 14px;
  line-height: 17px;
  color: #699ff1;
  text-decoration: none;
}

.blog__more:hover {
  text-decoration: underline;
}

.function-description-wrap {
  max-width: 640px;
}

.footer {
  background: #181a1c;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-footer__link {
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 30px;
}

.menu-footer__link:hover {
  color: #ffb757;
}

.messengers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messengers__text {
  font-weight: 300;
  font-size: 10px;
  line-height: 120%;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
  max-width: 105px;
  padding-right: 6px;
}

.messengers__link {
  margin-left: 12px;
}

.messengers__image {
  display: block;
}

/* Style Created by Suyarov Jamal @suyaroff */
.jamal {
  text-align: center;
  font-size: 12px;
  color: #fff;
  padding: 3px;
  background: #181a1c;
}

.jamal a {
  color: #fff;
  text-decoration: none;
}

.jamal__telegram,
.jamal__gitlab,
.jamal__portfolio {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABzklEQVQ4jaWSTWtTURCGnznnxuQSrU1NFaG6sJ/BQrt0IdVdqZtkIS6Egkuhf8Klf8DuXLT6AxooLW67EgUVRPMhfi2kCC2hjcltmnvPuAiJiSkp4rs7w8zDM8yB/4ycVJzdbGRC67LGuWkAFSlG1ubLi/HiQMDElg55BKsC90+AK8Jzd+yvlLJS7QNMbOmQp8GOCHOnWL9zTX+hDTHtqkewOmh4/KwwGheAeXMmeNJjMLvZyEQm+vC3dtzA7YuWe1c9blwwLL9s8KbiAFxk7fXyYrzoAYTictI1fC0p5MY87l6xxMIG9aNDVIcpVV27xRjncsBjr7WHm1KEm2nLyqTH3LAhjCJ+7u+jqoxdGuVrTamFf+xE3WRrdcAJKsDnmmN7N8Id1fCqe6RT57mcHgGgcOjoiaIdAGLKqLIbKOvfQr7vHbOUsowkkp3+PoDIp84VnDEbQKfjdd3nx6+QR68qvD9olT8e9ACcE7PRuQJAZru+jrLcfqdsk0oUI2Hh4XiMp19CqqG2/dcKd5IPegDTeT1nYsEOMM/gvHVN/1bfRyplpeqa/gLCs+51urVB17qHewy6M/WiMWOjKCuqMwAqUnBi8qWlROkUu3/Pb+SFulfmz+H0AAAAAElFTkSuQmCC");
  background-size: 16px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.jamal__gitlab {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABxUlEQVQ4ja2Rv2tTURTHP+cm9zU/+l5bkkrsIl0sGI3DEyRREBUcKiIKrXHROpSuTi4uwf/AsZt0cBVx0LWgWwVb62BwK0gkLaVJaON7ebkOrc8X7RsCfrfL+Z7P+d5z4H9qq1xOD+tRg4/esy/FohXXvOa6WolfOxaw5roaeDThZK/GAaYsdR0ji9EhaqAIOUN/Lg5gkDlgIjpE/VUE5O5x3zhMaG4fev8MEQCz7OqdV4k3QRcHQGu9st/xd6KAzKjO+b7/ACCRopW7E9ySpY9+EgC7fTM3r202CmUAf78fHHz2LkcB9rR+n8ykygCcbXxgtDcLvFZHORZI+xWmd1cBdEbOi+IgjKnoJtOJEgCndlfJ+pfALER34AFwolNhvLsOYqcmrY0wft76hOAw3t2k0KkcLc0PAXK/Po/wEPCY2Z7CChp2YaT/G5A9aYHVa3K6OQn0EHlMtX5v4ApSra9guABsUWpsJzNSlIS0JWE6ybQ6w7kf3xHTJFAXpfr1uQgmvEJUZtnVOO2ntEeutN6NaQScG3s9HG+dseCJzH77GfX/AwhBL2eueZv2oiBKl/ZeSLX+Ns4bq1bNzbdqbn7oxmH0CyfpiQAUqr79AAAAAElFTkSuQmCC");
}

.jamal__portfolio {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABjElEQVQ4jcWSPWtUQRiFn3ln9q43WmgiFgmCWAkLSioRsZNUloKotSlsLAVBK0HxH0j6YGGpjY2FhTaCBBI/ECIEv9l1k5Bswp2ZY5F1s7uwqIV4YIqZc+aZw8vA/5YbZXw632gC491tc/Lh4sGRgFcXTt45emj8es37kcB+VSlp+Xv77okHz28EgH25c4n1lqv+ovnetH0Z2AGoipa2OoMRM9rnroBg/+M5yHmoRjSAAGCKKA35x05x5OJVAL6+e0mx9GKwgiJ9AAlpIFCsvKH14T2SqK+8RUO+dQ8CwLdOfL1R5cM179hjjjIYtH+Q7t8CRF5tgTKdmNnKokpiM+alHiBJq63tSMyQJKIzjt+eY/L0WQA+PnvCws1ZaohgDu+gMLcGYACl95TeKINjLBgHGtO9ywBTZ2aYaEwzFozSO0pv1L3fnUHhIHhHliMJtLHG56ePwHW/hUTYXKfwhjl2lrELqBlkHFkQJPRlmea9awNDqwPOOxxdAH0Aiflf5N6rv5HE/B8F/7l+AoMomKCUUq7JAAAAAElFTkSuQmCC");
}/*# sourceMappingURL=style.css.map */